.backgr{
  background-color:#262626;
}
.mainDiv{
display: block;
margin-left: auto;
margin-right: auto;
}
.headGoogle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.searchBar{
  color: white;
  font-family: Roboto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 500px;
  height: 40px;
  background-color: #262626;
  border-radius: 30px;
  border-color: white;
  border-width: 1px;
  padding-left: 20px;
}
.btnGroup{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.searchBtn{
  background-color: rgba(56, 56, 56, 0.5);
  width: 150px;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
  font-family: Roboto;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.luckyBtn{
  background-image: -moz-element("img.bmp");
  background-color: rgba(56, 56, 56, 0.5);
  width: 150px;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
  font-family: Roboto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
  border-color: #868686;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.linkSpace{
  margin-left: 7px;
  text-decoration: none;
}

.langBar{
  text-align: center;
  color: white;
  font-family: Roboto;
}
a:active{
  color: #0078ff;
}
a:link{
  color: #0078ff;
}
a:visited{
  color: #0078ff;
}
a:hover{
  text-decoration: underline;
}
input:hover{
  background-color: #363636;
}